accelerate==1.14.0
altgraph==0.17.5
annotated-doc==0.0.5
annotated-types==0.8.0
annoy==1.17.3
anyio==4.14.2
-e git+https://github.com/xTanTHaix/-Axiom-Aegis-The-Deterministic-Code-Analyzer.git@25baaba82ec273e20ab4496d0fd79f0b4adf8c3c#egg=axiom_aegis
bidict==0.24.1
bitarray==3.10.1
blinker==1.9.0
brotli==1.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
ConfigArgParse==1.7.5
contourpy==1.3.3
coverage==7.16.0
customtkinter==6.0.0
cycler==0.12.1
darkdetect==0.8.0
datasketch==2.0.0
duckdb==1.5.5
filelock==3.32.4
Flask==3.1.3
flask-cors==6.0.5
Flask-Login==0.6.3
fonttools==4.63.0
fsspec==2026.7.0
gevent==26.8.0
geventhttpclient==2.3.9
greenlet==3.5.5
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpcore2==2.12.0
httpx==0.28.1
httpx2==2.12.0
huggingface_hub==0.36.2
hypothesis==6.165.10
idna==3.19
iniconfig==2.3.0
itsdangerous==2.2.0
jax==0.4.38
jaxlib==0.4.38
Jinja2==3.1.6
jiter==0.16.0
keyboard==0.13.5
kiwisolver==1.5.1
libcst==1.9.0
linkify-it-py==2.2.0
llvmlite==0.49.0
lmdb==2.3.0
locust==2.46.4
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.1
mdit-py-plugins==0.6.1
mdurl==0.1.2
ml_dtypes==0.6.0
mpmath==1.3.0
msgpack==1.2.2
mutmut==3.7.0
networkx==3.6.1
numba==0.67.0
numpy==2.5.2
openai==3.6.0
opt_einsum==3.4.0
packaging==26.3
pefile==2024.8.26
peft==0.20.0
petl==1.7.24
pillow==12.3.0
platformdirs==4.11.7
pluggy==1.6.0
polars==1.44.1
polars-runtime-32==1.44.1
psutil==7.2.2
pyarmor==9.2.6
pyarmor.cli.core==8.1.1
pyarrow==16.1.0
PyAudio==0.2.14
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pygtrie==2.5.0
pyinstaller==6.22.0
pyinstaller-hooks-contrib==2026.6
pyparsing==3.3.2
PyQt6==6.11.0
PyQt6-Qt6==6.11.2
PyQt6_sip==13.12.0
pytest==8.4.2
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
python-engineio==4.14.0
python-socketio==5.16.4
pywin32==312
pywin32-ctypes==0.2.3
PyYAML==6.0.3
pyzmq==27.2.0
regex==2026.7.19
requests==2.34.2
responses==0.26.3
rich==15.0.0
safetensors==0.8.0
scipy==1.18.0
setproctitle==1.3.7
setuptools==84.0.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
SpeechRecognition==3.17.0
sympy==1.14.0
tablib==3.10.0
textual==8.2.8
tokenizers==0.22.2
torch==2.4.1
torch-directml==0.2.5.dev240914
torchvision==0.19.1
tqdm==4.70.0
transformers==4.57.6
tree-sitter==0.26.0
tree-sitter-python==0.25.0
truststore==0.10.4
typer==0.27.2
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
watchdog==6.0.0
websocket-client==1.9.2
Werkzeug==3.1.8
wsproto==1.3.2
xxhash==4.0.0
zope.event==6.2
zope.interface==8.6
